@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body,html, #__next, main {
  height:100vh;
  width:100%;
  background: linear-gradient(102.32deg, #030422 -2.74%, #090114 101.6%);
  color:#d8cede;
  overflow:hidden;
}

h1{
text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
}
